<div class="jumbotron center">
	<div class="container">
		<h1>Flouride is added to our drinking water by a secret group of lizard people</h1>
		
		<% if user_signed_in? %>
		
		<% else%>
			<%= link_to "Log In",new_user_session_path, class: "btn btn-primary" %>
			<%= link_to "Register",new_user_registration_path, class: "btn btn-default" %>
		<% end%>
		
		<br>
		<%= image_tag "Flashing_sign_3.gif"%>
		<%= image_tag("ferngif.gif", :class => "img-circle")%>
		<%= image_tag "Flashing_sign_3.gif"%>
		<%= image_tag "hamster-dance-tumblr.gif"%>
		<%= image_tag "Flashing_sign_3.gif"%>
	</div>
</div>